.container p{
    color: aqua;
}

.container > .child {
    color: green;
}

.sibling-example h2 + p{
    color: red;
}

.far-sibling-example  ~ .end{
    color: purple;
}

.container span{
    background-color: yellow;
}