body{
    text-align: center;
}

div{
    height: 200px;
    width: 100px;
    display:inline-block;
    border: 2px solid black;
}
#Container{
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    background-image: url(/java-17-py-18-frontend/24072321/Practice/photos/nature.jpg);
    background-size: cover;
}
 #box1{
    background-color: rgb(95, 216, 216);
    align-self: flex-start;
}
#box2{
    background-color: rgb(196, 248, 145);
    align-self: flex-start;
    
}
#box3{
    background-color: rgb(247, 143, 177);
}
#box4{
    background-color: rgb(51, 227, 233);
    align-self: flex-end;
}
#box5{
    background-color: rgb(207, 67, 95);
    align-self: flex-end;
} 